body {
	background: url( http://upload.wikimedia.org/wikipedia/en/thumb/e/ed/Nyan_cat_250px_frame.PNG/220px-Nyan_cat_250px_frame.PNG ) #000;
	width: 700px;
	padding: 50px 20px;
	font-family: 'Trebuchet MS';
	margin: 50px auto;
}

#editable {
	background: rgba( 255, 255, 255, .2 );
	border: 1px solid rgba( 255, 255, 255, .6 );
}