body {
	background: url( http://upload.wikimedia.org/wikipedia/en/thumb/e/ed/Nyan_cat_250px_frame.PNG/220px-Nyan_cat_250px_frame.PNG ) #000;
	width: 700px;
	padding: 50px 20px;
	font-family: 'Trebuchet MS';
	margin: 50px auto;
}

#editable {
	background: rgba( 255, 255, 255, 1 );
	border: 1px solid rgba( 255, 255, 255, .6 );
}
.cke_editable {
	padding: 20px;
}

.synthCaret {
	z-index: 1000;
	position: absolute;
	width: 2px;
	display: block;
	opacity: 1;
}
.synthCaretFlag {
	display: block;
	font-size: 10px;
	height: 16px;
	line-height: 16px;
	text-overflow: ellipsis;
  	white-space: nowrap;
	position: absolute;
	top: 0;
	margin-top: -10px;
	padding: 0 2px;
	color: #fff;
	left: 0;
}